<div class="container">
    <app-header></app-header>

    <div class="main">
        <div style="background-color: #FFFFFF; height: 5%; padding-top: 14px">
            Home/My cart
        </div>
        <div class="cart">
            <div>
                <h3>My Cart()</h3>
                <div class="book">
                    <img src="../../../assets/books/Image 11.png">
                    <div>
                        <p>Books Description</p>
                        <h5>Book Author</h5>
                        <p>Price</p>
                    </div>
                </div>
            </div>
            <div class="placeOrder">
                <div class="location">
                    <div style="display: flex;align-items: flex-end;">
                        <mat-icon> pin_drop</mat-icon> Use current location 
                    </div>
                        <mat-icon>expand_more</mat-icon>
                </div>
                <div class="order">
                    PLACE ORDER
                </div>
            </div>
        </div>
        <div class="address">
            <span>Address Details</span>
        </div>
        <div class="address">
            <span>Order Summary</span>
        </div>
    </div>

    <app-footer></app-footer>
</div>