<div class="box">
    <h4 class="text">Email Id</h4>
    <mat-form-field appearance="outline" class="placewidth">
        <mat-label>email-id</mat-label>
        <input matInput placeholder="">
    </mat-form-field>
    <h4 class="textP">Password</h4>
    <mat-form-field appearance="outline" class="placewidth">
        <mat-label>password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <div class="forgetPassword">
        <h5 class="textFP">Forget Password?</h5>
    </div>
    <div class="button">
        <button class="button" mat-flat-button color="warn">Login</button>
    </div>
    <div style="width: 83%;display: flex;justify-content: center;padding-top: 10%;">
        <h3>OR</h3>
    </div>
    <div class="alternateButton">
        <button style="width: 40%" mat-flat-button color="primary">facebook</button>
        <button style="width: 40%" mat-stroked-button>Google</button>
    </div>
</div>