
<!-- HEADER -->
<header class="header">
    <div class="headerContent">
       <img class="bookImg" style="height: 24px;" src="../../../assets/education.svg">
       <h2 class="bookText">BOOKSTORE</h2>
       <div class="search">
           <mat-icon mat-button>search</mat-icon>
           <input class="searchInput" type="text" placeholder="Search">
       </div>
       <div class="rightSection">
           <mat-icon style="color:#FCFCFC;">person</mat-icon>
           <h5 style="margin: 0; color:#FCFCFC;">Profile</h5>
       </div>
       <div class="rightSection2">
           <mat-icon style="color:#FCFCFC;"> local_grocery_store</mat-icon>
           <h5 style="margin: 0; color:#FCFCFC;">Cart</h5>
       </div>
    </div>
</header>