.header{
    background-color: #A03037;
    height: 60px;
}

.headerContent{
    height: 60px;
    display: flex;
    align-items: center;
}

.bookImg{
    height: 24px;
    margin-left: 16%;
    cursor: pointer;
}

.bookText{
    margin: 0;
    color: #FFFFFF;
    padding: 0px 45px 0px 9px;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 10px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border-radius: 3px;
}

.searchInput {
    width: 490px;
    height: 33px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    outline: none;
    border: transparent;
}

.rightSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 14%;
}

.rightSection2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
}

.headerButton{
    color:#FCFCFC;
    cursor: pointer;
}