
<!-- Main Content -->
<div class="main">
    <div class="middleHead">
        <div class="bookTxt">
            Books<h5>(18items)</h5>
        </div>
        <div>
            <button mat-stroked-button [matMenuTriggerFor]="menu">sort by relevance</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Price: Low to High</button>
                    <button mat-menu-item>Price: High to Low</button>
                    <button mat-menu-item>Newest Arrivals</button>
                </mat-menu>
        </div>
    </div>
    <app-product [books]="books"></app-product>
</div>