.main{
    height: 100%;
    width: 100%;
}

.middleHead{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 20px;
}

.bookTxt{
    width: 126px;
    height: 33px;
    font: normal normal normal 25px/33px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    margin-left: 5px;
    display: flex;
    align-items: baseline;
}

.items{
    width: 62px;
    height: 16px;
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #9D9D9D;
    opacity: 1
}