.container{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
}


.main{
    background-color: #FFFFFF;
    margin: 0px 243px 0px 228px;
}