
<div class="container">
    <!-- HEADER -->
    <app-header></app-header>

    <!-- Main Content -->
        <div class="main">
            <div style="background-color: #FFFFFF; height: 10%;">
                home
            </div>
            <div style="background-color: #FFFFFF; height: 90%; display: flex; flex-direction: row;">
                <div style="background-color: #FFFFFF; width: 3.5%;">
                    <img src="../../../assets/books/Image 1.png">
                    <img src="../../../assets/books/Image 46.png">
                </div>
                <div style="background-color: #FFFFFF; width: 33.5%;">
                    <div class="imgCell">
                        <img class="imgMain" src="../../../assets/books/Image 11.png">
                    </div>
                </div>
                <div style="background-color: #b36c6c; width: 63%;">
                    <h1>{{data.description}}</h1>
                </div>
            </div>
        </div>
    
</div>

<!-- <div class="home">
            Home
        </div>
        <div style="display: flex; height: 91%;">
            <div class="imgDiv">
                <div style="width: 9%;">
                    <img src="../../../assets/books/Image 1.png">
                    <img src="../../../assets/books/Image 46.png">
                </div>
                <div style=" width: 91%;">
                    <div class="imgCell">
                        <img class="imgMain" src="../../../assets/books/Image 11.png">
                    </div>
                </div>
            </div>
            <div class="content">
                gfgfdg
            </div>
        </div> -->