.container{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main{
    height: 100%;
    background-color: #FFFFFF;
    margin: 0px 253px 0px 253px;
}

.content{
   background-color: #FFFFFF; height: 93%; display: flex; flex-direction: row;
}

.row_1st{
    background-color: #FFFFFF; width: 3.5%;
}

.row_2nd{
    background-color: #FFFFFF; width: 33.5%;
}

.row_3rd{
    background-color: #FFFFFF; width: 63%;
    padding: 0px 0px 0px 50px;
}

.imgCell{
    width: 361px;
    height: 413px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    opacity: 1;
}

.imgMain{
    padding: 22px 40px 22px 40px;
    width: 282px;
    height: 367px;
    opacity: 1;
}

.alternateButton{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.description{
    width: 100%;
    height: 37px;
    text-align: left;
    font: normal normal normal 28px/37px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    margin: 0%;
}

.author{
    width: 214px;
    height: 24px;
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.rate{
    width: 55px;
    height: 25px;
    background: #388E3C 0% 0% no-repeat padding-box;
    border-radius: 1px;
    opacity: 1;
    display: flex;
    align-items: center;
    padding-left: 3px;
    justify-content: space-evenly;
}

.star{
    color: white;
    font-size: 11px;
    width: 11px;
    height: 11px;
}

.quantity{
    width: 27px;
    height: 20px;
    text-align: center;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
    margin-left: 11px;
}

.price{
    width: 119px;
    text-align: left;
    font: normal normal bold 30px/39px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    padding-top: 10px;
}

.details{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 580px;
    height: 100px;
    opacity: 1;
    background-color: #FFFFFF;
}

.heading{
    width: 100px;
    margin: 0;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.bookContent{
    width: 542px;
    height: 80px;
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #3f3b3b;
    opacity: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 15px;
}

.review{
    width: 557px;
    height: 192px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 2px;
    // opacity: 0.63;
    padding: 10px 20px 10px 20px;
}

.text{
    width: 70px;
    height: 16px;
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1
}
.searchInput {
    margin-top: 20px;
    width: 300px;
    height: 31px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    outline: none;
    border: transparent;
}

.button{
    margin-top: 35px;
    margin-left: 471px;
    width: 76px;
    height: 32px;
    background: #3371B5 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
}

// @media (max-width: 1100px){
//     main{
//         margin: 0px 101px 0px 74px;
//     }

// }